<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<add name="PokemonTCGContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=ContosoUniversity;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\ContosoUniversity.mdf" providerName="System.Data.SqlClient" />
</configuration>